*{
    box-sizing: border-box;
}


body{
    background-color: wheat;
}


header{
    background-color: rgb(144, 79, 160);
    position: fixed;
    width: 100%;
}
header h1{
    font-family: 'Anton', sans-serif;
    font-size: larger;
    float: left;
    margin-top: 20px;
    margin-left: 6px;
    color: mediumaquamarine;
}

header nav{
    float: right;
    padding: 10px;
    
}

header nav ul li {
    display: inline-block;
    padding: 10px;
}

header nav li a{
    color: lightseagreen;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    font-size: 10px;
}

#hero {
    background-image:url('/img/mahmoud.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#hero h2{
    text-align: center;
    line-height: 500px;
    font-family: 'Anton', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: rgb(144, 79, 160);;
    font-weight: 700;
}

#program h2{
    text-align: center;
    font-family: 'Anton', sans-serif;
    margin: 20px;
    color: rgb(144, 79, 160);
}

#program p{
text-align: center;
font-family: 'Anton', sans-serif;
font-weight: 200;
margin: 20px;
line-height: 1.4;
}

#program p a{
    color: red;
    text-decoration: none;
}

#program p a:hover{
    text-decoration: underline;
}

.movies-item {
    background-color: rgb(144, 79, 160);
    height: 80px;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
    border-radius: 20px;
}

.movies-item h3{
    line-height: 1.2;
    font-weight: 800;
    padding-top: 30px;
    text-align: center;
    
}

#movies{
    margin: 0 auto;
    width: 90%;
}

footer{
    clear: both;
    width: 100%;
    text-align: center;
    background-color: rgb(144, 79, 160);
    color:mediumaquamarine ;
    padding: 20px;
    margin-top: 10px;

}

#show h3{
    padding: 5px;

}

#movies h2{
    text-align: center;
    font-family: 'Anton', sans-serif;
    color:rgb(144, 79, 160);
}