h1{
    color: mediumaquamarine;
    font-size: 100px;
    text-align: center;
}

ul{
    list-style-type: square;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: mediumaquamarine;
}

body{
    background-color: wheat;
}

ol {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: mediumaquamarine;
    margin-left: 30px;
}

h2{
    font-size: 100px;
    color: mediumaquamarine;
    text-align: center;
}
img{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


